In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv('/content/drive/MyDrive/1230280501028 (1)/Mini Project/public_emdat_custom_request_2025-12-29_624975ef-ea78-433a-a3dc-5d6d15ec3b55.csv')

In [5]:
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,GADM Admin Units,Entry Date,Last Update
0,2010-0562-IDN,No,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,GLIDE:VO-2010-000214,Mt. Merapi,IDN,...,NaN,NaN,NaN,NaN,NaN,69.513293,"[{""adm2_code"":17985,""adm2_name"":""Sleman""},{""ad...","[{""gid_2"":""IDN.10.14_1"",""migration_date"":""2025...",2014-07-28,2025-12-20
1,2012-0164-AFG,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,GLIDE:EQ-2012-000099|USGS:usp000jmmc,NaN,AFG,...,NaN,NaN,NaN,NaN,NaN,73.191592,"[{""adm2_code"":3468,""adm2_name"":""Burka""},{""adm2...","[{""gid_2"":""AFG.3.10_1"",""migration_date"":""2025-...",2014-02-28,2025-12-20
2,2022-0353-NPL,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,NPL,...,NaN,NaN,NaN,NaN,NaN,93.294607,NaN,NaN,2022-06-29,2023-09-26
3,2022-0418-IDN,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IDN,...,NaN,NaN,NaN,NaN,NaN,93.294607,NaN,NaN,2022-07-12,2023-09-26
4,2022-0456-YEM,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),GLIDE:FL-2022-000265,NaN,YEM,...,NaN,NaN,NaN,NaN,NaN,93.294607,NaN,NaN,2022-07-27,2023-09-26

In [6]:
print(df.columns)

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'GADM Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4155 entries, 0 to 4154
Data columns (total 47 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     4155 non-null   object
 1   Historic                                   4155 non-null   object
 2   Classification Key                         4155 non-null   object
 3   Disaster Group                             4155 non-null   object
 4   Disaster Subgroup                          4155 non-null   object
 5   Disaster Type                              4155 non-null   object
 6   Disaster Subtype                           4155 non-null   object
 7   External IDs                               1611 non-null   object
 8   Event Name                                 923 non-null    object
 9   ISO                                        4155 non-null   object
 10  Country                                    4155 non-null   object
 11  Subregion                                  4155 non-null   object
 12  Region                                     4155 non-null   object
 13  Location                                   4033 non-null   object
 14  Origin                                     1638 non-null   object
 15  Associated Types                           1447 non-null   object
 16  OFDA/BHA Response                          4155 non-null   object
 17  Appeal                                     4155 non-null   object
 18  Declaration                                4155 non-null   object
 19  AID Contribution ('000 US$)                222 non-null    float64
 20  Magnitude                                  1575 non-null   float64
 21  Magnitude Scale                            3745 non-null   object
 22  Latitude                                   946 non-null    float64
 23  Longitude                                  946 non-null    float64
 24  River Basin                                394 non-null    object
 25  Start Year                                 4155 non-null   int64
 26  Start Month                                4146 non-null   float64
 27  Start Day                                  3805 non-null   float64
 28  End Year                                   4155 non-null   int64
 29  End Month                                  4116 non-null   float64
 30  End Day                                    3812 non-null   float64
 31  Total Deaths                               3252 non-null   float64
 32  No. Injured                                1591 non-null   float64
 33  No. Affected                               2859 non-null   float64
 34  No. Homeless                               534 non-null    float64
 35  Total Affected                             3542 non-null   float64
 36  Reconstruction Costs ('000 US$)            8 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  7 non-null      float64
 38  Insured Damage ('000 US$)                  164 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        162 non-null    float64
 40  Total Damage ('000 US$)                    1492 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          1469 non-null   float64
 42  CPI                                        3996 non-null   float64
 43  Admin Units                                3444 non-null   object
 44  GADM Admin Units                           3138 non-null   object
 45  Entry Date                                 4155 non-null   object
 46  Last Update                                4155 non-null   object
dtypes: float64(20), int64(2), object(25)
memory usage: 1.5+ MB

In [8]:
imp_cols=['DisNo.','Historic','Classification Key','Disaster Group','Disaster Type','Event Name','Country','Region','Location','Origin','Magnitude','Magnitude Scale','Start Year','Start Month','Start Day','End Year','End Month','End Day','Total Deaths','No. Injured','No. Affected','Total Affected',"Reconstruction Costs ('000 US$)","Reconstruction Costs, Adjusted ('000 US$)","Total Damage ('000 US$)","Total Damage, Adjusted ('000 US$)","Insured Damage ('000 US$)",
    "Insured Damage, Adjusted ('000 US$)"]
df=df[imp_cols]

In [9]:
df.isnull().sum().sort_values(ascending=False)

Reconstruction Costs, Adjusted ('000 US$)    4148
Reconstruction Costs ('000 US$)              4147
Insured Damage, Adjusted ('000 US$)          3993
Insured Damage ('000 US$)                    3991
Event Name                                   3232
Total Damage, Adjusted ('000 US$)            2686
Total Damage ('000 US$)                      2663
Magnitude                                    2580
No. Injured                                  2564
Origin                                       2517
No. Affected                                 1296
Total Deaths                                  903
Total Affected                                613
Magnitude Scale                               410
Start Day                                     350
End Day                                       343
Location                                      122
End Month                                      39
Start Month                                     9
Classification Key                              0
Country                                         0
Disaster Type                                   0
Region                                          0
Disaster Group                                  0
DisNo.                                          0
Historic                                        0
Start Year                                      0
End Year                                        0
dtype: int64

In [10]:
df=df.drop(columns=["Reconstruction Costs ('000 US$)","Insured Damage ('000 US$)","Total Damage ('000 US$)"])

In [11]:
damage_cols=["Reconstruction Costs, Adjusted ('000 US$)","Insured Damage, Adjusted ('000 US$)","Total Damage, Adjusted ('000 US$)"]

for col in damage_cols:
  df[col+'_reported']=df[col].notna().astype(int)
  df[col]=df[col].fillna(0)

In [12]:
df['Event Name']=df['Event Name'].fillna('Unknown')
df['Magnitude']=df['Magnitude'].fillna(0)
df['Origin']=df['Origin'].fillna('Unknown')
df['Location']=df['Location'].fillna('Unknown')

cols=['No. Injured','No. Affected','Total Deaths','Total Affected']
for col in cols:
  df[col]=df[col].fillna(0)

duration_cols = [
    'Start Month', 'Start Day',
    'End Month', 'End Day'
]

df = df.drop(columns=duration_cols)

In [13]:
for col in cols:
  df[col]=df[col].astype(float)

In [15]:
df.duplicated().sum()

np.int64(0)

In [28]:
df[cols].describe()

         No. Injured  No. Affected  Total Deaths  Total Affected
count     469.000000  4.690000e+02     469.00000    4.690000e+02
mean     2727.718550  2.723776e+05    1192.69936    2.994276e+05
std     21324.481981  2.298988e+06    9907.30908    2.338036e+06
min         0.000000  0.000000e+00       0.00000    0.000000e+00
25%         8.000000  0.000000e+00       0.00000    7.410000e+02
50%        52.000000  3.500000e+03       2.00000    6.150000e+03
75%       294.000000  3.273300e+04      15.00000    5.593500e+04
max    366596.000000  4.561000e+07  165708.00000    4.597660e+07

In [17]:
x = df.loc[df['No. Affected'].idxmax()]
x

DisNo.                                                                                    2015-9618-IND
Historic                                                                                             No
Classification Key                                                                      nat-cli-dro-dro
Disaster Group                                                                                  Natural
Disaster Type                                                                                   Drought
Event Name                                                                                      Unknown
Country                                                                                           India
Region                                                                                             Asia
Location                                              Tamil Nadu, Rajasthan, Jharkhand, Assam, Andhr...
Origin                                                                                 Erratic rainfall
Magnitude                                                                                           0.0
Magnitude Scale                                                                                     Km2
Start Year                                                                                         2015
End Year                                                                                           2016
Total Deaths                                                                                        0.0
No. Injured                                                                                         0.0
No. Affected                                                                                330000000.0
Total Affected                                                                              330000000.0
Reconstruction Costs, Adjusted ('000 US$)                                                           0.0
Total Damage, Adjusted ('000 US$)                                                             3970461.0
Insured Damage, Adjusted ('000 US$)                                                            529395.0
Reconstruction Costs, Adjusted ('000 US$)_reported                                                    0
Insured Damage, Adjusted ('000 US$)_reported                                                          1
Total Damage, Adjusted ('000 US$)_reported                                                            1
Name: 2408, dtype: object

In [18]:
y=df['No. Injured'].max()
y

461542.0

In [19]:
selected_disasters = ['Flood', 'Earthquake', 'Drought']
df = df[df['Disaster Type'].isin(selected_disasters)]
df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Type,Event Name,Country,Region,Location,Origin,...,Total Deaths,No. Injured,No. Affected,Total Affected,"Reconstruction Costs, Adjusted ('000 US$)","Total Damage, Adjusted ('000 US$)","Insured Damage, Adjusted ('000 US$)","Reconstruction Costs, Adjusted ('000 US$)_reported","Insured Damage, Adjusted ('000 US$)_reported","Total Damage, Adjusted ('000 US$)_reported"
1,2012-0164-AFG,No,nat-geo-ear-gro,Natural,Earthquake,Unknown,Afghanistan,Asia,"Burka, Mullah Jan villages (Burka district, Ba...",Unknown,...,75.0,13.0,2965.0,3548.0,0.0,0.0,0.0,0,0,0
3,2022-0418-IDN,No,nat-hyd-flo-flo,Natural,Flood,Unknown,Indonesia,Asia,"South Sulawesi, Central Sulawesi and Gorontalo...",Heavy rains,...,7.0,0.0,3126.0,3126.0,0.0,0.0,0.0,0,0,0
4,2022-0456-YEM,No,nat-hyd-flo-flo,Natural,Flood,Unknown,Yemen,Asia,"Marib, Al Mahwit, Taiz, Ibb, Hadramawt, Al Bay...",Heavy rains,...,77.0,0.0,175000.0,175000.0,0.0,0.0,0.0,0,0,0
5,2022-0493-NPL,No,nat-hyd-flo-flo,Natural,Flood,Unknown,Nepal,Asia,Belaka municipality of Udayapur district; Sapt...,Incessant rains,...,132.0,0.0,5500.0,5500.0,0.0,0.0,0.0,0,0,0
6,2022-0497-MNG,No,nat-hyd-flo-fla,Natural,Flood,Unknown,Mongolia,Asia,"Arkhangai, Bulgan, Khuvsgul, Orkhon, Darkhan-U...",Heavy rains,...,0.0,0.0,4269.0,4269.0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4146,2000-0302-CHN,No,nat-hyd-flo-fla,Natural,Flood,Unknown,China,Asia,"Awu, Jingmu, Hadapu villages (Dangchang Xian a...",Monsoonal rain,...,34.0,183.0,154000.0,154183.0,0.0,40076.0,0.0,0,0,1
4147,2000-0298-CHN,No,nat-geo-ear-gro,Natural,Earthquake,Unknown,China,Asia,"Lanzhou Shi area (Lanzhou district, Gansu Shen...",Unknown,...,0.0,20.0,0.0,100.0,0.0,0.0,0.0,0,0,0
4149,2000-0235-KAZ,No,nat-hyd-flo-flo,Natural,Flood,Unknown,Kazakhstan,Asia,"Denisovskiy, Zhitikara, Taran, Qostanay distri...",Unknown,...,0.0,0.0,2500.0,2500.0,0.0,2732.0,0.0,0,0,1
4152,2000-0066-PHL,No,nat-hyd-flo-coa,Natural,Flood,Unknown,Philippines,Asia,Tawi-Tawi district (ARMM province),Unknown,...,0.0,0.0,0.0,5250.0,0.0,0.0,0.0,0,0,0
4153,2000-0036-CHN,No,nat-geo-ear-gro,Natural,Earthquake,Unknown,China,Asia,"Mile Xian area (Honghe Hani and Yi district, Y...",Unknown,...,1.0,2.0,10300.0,10302.0,0.0,880.0,0.0,0,0,1

In [25]:
selected_disasters = ['Earthquake']
df = df[df['Disaster Type'].isin(selected_disasters)]
x=df['Magnitude']
x

1       5.7
9       5.7
11      5.3
13      4.9
20      7.0
       ...
4129    6.8
4133    6.7
4144    5.1
4147    5.6
4153    4.9
Name: Magnitude, Length: 469, dtype: float64

In [27]:
from scipy import stats

def calculate_statistics(data):
    data = np.array(data)

    mean = np.mean(data)
    mode_res = stats.mode(data, keepdims=True)
    mode = mode_res.mode[0]
    variance = np.var(data)
    std_dev = np.std(data)

    data_sorted = np.sort(data)

    median = np.median(data)
    q1 = np.percentile(data, 25)
    q3 = np.percentile(data, 75)
    iqr = q3 - q1
    print(data)
    print(f"Mean:               {mean:.2f}")
    print(f"Median:             {median:.2f}")
    print(f"Mode:               {mode}")
    print(f"Variance:           {variance:.2f}")
    print(f"Standard Deviation: {std_dev:.2f}")
    print(f"Quartile 1 (Q1):    {q1:.2f}")
    print(f"Quartile 3 (Q3):    {q3:.2f}")
    print(f"Interquartile Range:{iqr:.2f}")

calculate_statistics(x)

[5.7 5.7 5.3 4.9 7.  6.  4.5 6.  6.1 4.5 4.8 6.8 7.7 5.5 4.9 5.3 6.5 5.4
 6.3 5.4 4.8 6.5 5.4 6.3 5.3 5.6 6.4 4.6 5.5 5.2 6.6 4.5 5.  5.8 7.  5.1
 5.6 6.3 6.6 7.1 9.1 5.5 6.  5.4 6.3 6.4 5.8 5.6 5.8 7.6 7.6 6.  6.1 5.
 5.6 6.1 4.5 6.8 5.2 6.1 6.4 5.  5.4 5.  5.5 6.1 4.9 6.7 5.6 5.8 9.1 7.2
 7.4 6.1 5.6 5.4 5.7 6.4 5.1 6.4 5.4 5.7 5.9 6.4 6.8 5.8 6.3 6.3 6.4 5.4
 5.6 6.2 6.1 5.9 6.  6.3 5.7 6.9 5.6 5.9 6.8 5.8 5.4 5.9 5.9 6.3 5.9 6.1
 6.5 6.4 5.7 5.1 6.3 6.3 5.2 5.2 6.5 6.5 4.8 5.3 6.2 5.8 5.4 5.4 5.7 6.3
 5.7 6.2 6.7 7.6 5.9 7.5 5.6 5.8 6.4 7.4 6.1 4.9 6.8 5.1 6.  7.1 7.1 6.
 7.7 7.7 7.7 5.8 6.2 5.7 8.8 6.1 5.8 6.  5.6 6.9 6.7 6.5 6.3 5.4 5.1 6.9
 5.  5.4 7.2 5.7 6.4 6.6 5.9 7.4 5.  7.3 5.6 7.4 7.6 7.8 4.3 5.6 5.  6.3
 6.2 6.5 5.2 6.4 5.6 5.2 7.  5.8 5.7 5.6 6.  5.5 5.6 4.3 5.5 5.2 5.9 5.9
 4.7 5.8 7.1 5.8 5.2 6.9 6.5 5.1 6.  6.7 6.3 6.2 7.8 6.9 6.1 6.9 5.6 5.7
 6.3 7.7 6.1 5.9 7.7 7.1 5.4 5.3 5.  5.4 6.9 6.2 6.  5.6 6.6 7.  4.8 6.7
 7.3 5.5 5.1 5.4 5.1 6.  5.9 6.7 7.5 6.1 7.6 5.3 6.  5.8 5.1 5.2 9.1 9.1
 9.1 9.1 6.6 5.2 4.9 5.  6.7 8.4 5.6 7.9 6.  5.1 6.  5.7 5.7 5.1 5.1 6.1
 6.9 6.3 6.1 7.1 4.9 6.7 7.7 6.6 5.5 6.2 5.1 6.  6.2 5.1 7.8 7.8 7.3 6.4
 6.6 7.5 6.5 6.7 6.5 5.4 5.9 7.3 4.9 6.5 6.  5.5 5.6 7.  5.4 5.6 5.4 6.8
 5.9 5.  5.6 6.5 5.4 6.4 6.4 6.4 6.9 6.6 5.4 6.1 6.4 6.  6.5 5.9 5.8 6.4
 5.9 6.6 7.  5.1 5.4 5.3 6.6 6.1 5.9 5.8 6.1 7.8 7.6 6.7 6.8 7.7 6.3 4.8
 7.5 6.3 5.5 5.8 5.8 9.1 9.1 7.6 6.  6.3 6.3 6.6 4.9 5.6 7.4 6.9 6.  4.8
 7.7 6.6 5.2 4.8 7.1 5.5 6.9 5.1 6.7 5.6 4.9 6.3 7.6 5.9 5.6 5.1 6.9 5.9
 7.3 7.3 6.6 6.7 7.3 6.1 7.  4.9 5.8 9.1 6.9 6.9 6.9 5.6 5.5 5.8 8.6 5.5
 6.8 5.8 5.9 5.2 6.1 5.8 5.9 5.6 5.2 7.8 7.8 7.5 7.5 7.2 5.5 6.5 6.7 6.7
 5.9 6.5 5.9 7.5 4.9 5.8 6.5 7.3 6.7 7.6 5.1 5.7 5.7 6.2 5.6 7.1 6.  5.1
 6.6 6.6 5.9 5.9 8.1 5.2 7.2 6.1 5.2 6.3 4.9 5.6 7.7 6.7 4.6 6.5 5.2 4.9
 8.6 9.1 5.5 4.7 5.6 7.  6.4 5.5 7.1 5.4 5.6 4.6 5.5 7.  6.8 6.7 5.1 5.6
 4.9]
Mean:               6.16
Median:             6.00
Mode:               5.6
Variance:           0.88
Standard Deviation: 0.94
Quartile 1 (Q1):    5.50
Quartile 3 (Q3):    6.70
Interquartile Range:1.20